# -*- encoding: utf-8 -*-

Gem::Specification.new do |gem|
  gem.authors       = ["Tom Ward"]
  gem.email         = ["tom@popdog.net"]
  gem.description   = "{{ name }} {{ version }}"
  gem.summary       = "{{ name }} {{ version }}"
  gem.executables   = ['{{ name }}']
  gem.name          = "{{ name }}"
  gem.version       = "{{ version }}"
end
